<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977768847859-us27aheqnile3ft4gplrfk3a1ibb5guo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977768847859-us27aheqnile3ft4gplrfk3a1ibb5guo</string>
	<key>API_KEY</key>
	<string>AIzaSyBl0v5Zvey3HXYkZ3D3L0HRVzvDc_xslPs</string>
	<key>GCM_SENDER_ID</key>
	<string>977768847859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heimzza.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-heimzza</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-heimzza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977768847859:ios:8e5c7086751b5c47251a86</string>
</dict>
</plist>